@import '../admin-inicio/admin-inicio.component.css';

.filtros label {
  display: inline-block; 
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}


.btn-acao:hover {
  background-color: #e6ac00;
}

.btn-acao.inativar {
  background-color: transparent;
  border: 2px solid #dc3545;
  color: #dc3545;
}

.btn-acao.inativar:hover {
  background-color: #dc3545;
  color: white;
}