<div class="container">
  <h2>Agendamentos de Viagem</h2>

  <div class="card form-card">
    <h3>Agendar Nova Viagem</h3>
    
    <div class="filtros"> 
        <label>
            Veículo*:
            <select [(ngModel)]="dadosFormulario.veiculoId">
              <option [ngValue]="null" disabled>Selecione um veículo</option>
              <option *ngFor="let v of veiculosDisponiveis" [ngValue]="v.id">
                {{ v.modelo }} ({{ v.placa }})
              </option>
            </select>
        </label>
      
        <label>
            Motorista*:
            <select [(ngModel)]="dadosFormulario.motoristaId">
              <option [ngValue]="null" disabled>Selecione um motorista</option>
              <option *ngFor="let m of motoristasDisponiveis" [ngValue]="m.id">
                {{ m.nome }}
              </option>
            </select>
        </label>
      
        <label>
            Data e Hora de Saída*:
            <input type="datetime-local" [(ngModel)]="dadosFormulario.dataHoraSaida" />
        </label>
      
        <label>
            Destino*:
            <input [(ngModel)]="dadosFormulario.destino" placeholder="Digite o destino" />
        </label>
      
        <label>
            Justificativa:
            <textarea [(ngModel)]="dadosFormulario.justificativa" rows="3" placeholder="Opcional"></textarea>
        </label>
    </div>

    <button (click)="salvarAgendamento()" class="btn-acao">Agendar Viagem</button>
  </div>


  <h3>Próximas Viagens e em Andamento</h3>
  <p *ngIf="isLoading">Carregando viagens...</p>

  <div *ngIf="!isLoading">
    <div *ngIf="viagens.length === 0" class="card">
        <p>Nenhuma viagem agendada ou em uso no momento.</p>
    </div>
    <div *ngFor="let viagem of viagens" class="card">
      <p><strong>Destino:</strong> {{ viagem.destino }}</p>
      <p><strong>Motorista:</strong> {{ viagem.motorista?.nomeCompleto }}</p>
      <p><strong>Veículo:</strong> {{ viagem.veiculo?.modelo }} ({{ viagem.veiculo?.placa }})</p>
      <p><strong>Saída:</strong> {{ viagem.dataHoraSaida | date:'dd/MM/yyyy HH:mm' }}</p>
      <p><strong>Status:</strong> <span [ngClass]="viagem.status">{{ viagem.status }}</span></p>
    </div>
  </div>
</div>