<div class="container">
  <h2>Cadastro e Gerenciamento de Usuários</h2>

  <div *ngIf="modoFormulario" class="card filtros">
    <h3>{{ usuarioEmEdicao.id ? 'Editando Usuário' : 'Novo Usuário' }}</h3>
    
    <label>Nome completo*:<input [(ngModel)]="usuarioEmEdicao.nome" /></label>
    <label>CPF*:<input [(ngModel)]="usuarioEmEdicao.cpf" /></label>
    <label>CNH*:<input [(ngModel)]="usuarioEmEdicao.cnh" /></label>
    <label>Validade CNH*:<input type="date" [(ngModel)]="usuarioEmEdicao.validadeCnh" /></label>
    <label>Telefone:<input [(ngModel)]="usuarioEmEdicao.telefone" /></label>
    <label>E-mail*:<input type="email" [(ngModel)]="usuarioEmEdicao.email" /></label>
    <label>Senha*:<input type="password" [(ngModel)]="usuarioEmEdicao.senha" /></label>
    <label>Perfil*:<select [(ngModel)]="usuarioEmEdicao.perfil">
        <option [ngValue]="null" disabled>Selecione um perfil</option>
        <option value="MOTORISTA">Motorista</option>
        <option value="ADMIN">Administrador</option>
      </select>
    </label>
    <label>CEP*:<input [(ngModel)]="usuarioEmEdicao.cep" (blur)="consultarCep()" placeholder="Apenas números" /></label>
    <label>Logradouro:<input [(ngModel)]="usuarioEmEdicao.logradouro" [readOnly]="true" /></label>
    <label>Número*:<input [(ngModel)]="usuarioEmEdicao.numero" /></label>
    <label>Bairro:<input [(ngModel)]="usuarioEmEdicao.bairro" [readOnly]="true" /></label>
    <label>Cidade:<input [(ngModel)]="usuarioEmEdicao.cidade" [readOnly]="true" /></label>
    <label>UF:<input [(ngModel)]="usuarioEmEdicao.uf" [readOnly]="true" /></label>
    
    <div>
      <button (click)="salvarUsuario()" class="btn-acao">
        {{ usuarioEmEdicao.id ? 'Salvar Alterações' : 'Adicionar Usuário' }}
      </button>
      <button (click)="cancelarEdicao()" class="btn-acao inativar" style="margin-left: 1rem;">
        Cancelar
      </button>
    </div>
  </div>

  <div *ngIf="!modoFormulario" style="margin-bottom: 1.5rem;">
    <button class="btn-acao" (click)="iniciarAdicao()">+ Adicionar Novo Usuário</button>
  </div>

  <h3>Usuários Cadastrados</h3>

  <div *ngIf="!isLoading && !error">
    <div *ngFor="let m of motoristas" class="card">
      <p><strong>Nome:</strong> {{ m.nome }} <span *ngIf="!m.ativo" style="color:#dc3545; font-weight: bold;">(Inativo)</span></p>
      <p><strong>Perfil:</strong> {{ m.perfil }}</p>
      <p><strong>Email:</strong> {{ m.email }}</p>
      <p><strong>Telefone:</strong> {{ m.telefone }}</p>
      
      <div style="margin-top: 1rem;">
        <button class="btn-acao" (click)="iniciarEdicao(m)">Editar</button>
        <button class="btn-acao inativar" (click)="inativarMotorista(m)" *ngIf="m.ativo" style="margin-left: 1rem;">
          Inativar
        </button>
      </div>
    </div>
  </div>
</div>